<template>

    <div>
        <h3>Buscar Comentario</h3>
        <div class="card p-3" id="card">
        <form v-on:submit.prevent="processBuscar">
            <input
            type="text" class="mt-2 rounded-3"
            v-model="comentarioByUsername.username"
            placeholder="Usuario"
            />
        <br />
        <button class="mt-3 rounded-3" type="submit">Buscar Comentarios</button>
        </form>
        </div>

    <h4>Comentarios del Usuario</h4>     
    <div class="table table-hover" id="table">
        <table>
            <tr>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Comentario</th>
                <th></th>
            </tr>

            <tr v-for="comentario in comentarioByUsername" :key="comentario.id">
                <td>{{ comentario.lugar }}</td>
                <td>{{ comentario.fecha.substring(2, 10)}}</td>
                <td>{{ comentario.hora }}</td>
                <td>{{ comentario.comentario }}</td>
                <td><button class="btn rounded-pill" id="button" v-on:click="processEliminar(comentario.id)"> <span class="bi bi-trash"></span> </button></td>
            </tr>
        </table>
        <span v-if="eliminado" class="mt-3"> Carrera eliminada </span>
    </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

    export default {
        name: "buscarComentario",
        data: function() {
            return {
                username: localStorage.getItem("username") || "none",
                comentarioByUsername: [],
                eliminar: {
                    id: "",
                },
                eliminado: false,

            };
        },

    apollo: {
    comentarioByUsername: {
      query: gql`
        query ($username: String!) {
          comentarioByUsername(username: $username) {
            id
            lugar
            fecha
            hora
            comentario
          }
        }
      `,
      variables() {
        return {
          username: this.username,
        };
      },
    },
    },

    created: function () {
    this.$apollo.queries.comentarioByUsername.refetch();
    },

    methods: {
        processBuscar: async function() {
        if (localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null ) {
        this.$emit("logOut");
        return;
        }
        localStorage.setItem("token_access", "");
        
    await this.$apollo
        .mutate({
            mutation: gql`
            mutation ($refresh: String!) {
            refreshToken(refresh: $refresh) {
        access
        }
        }
    `,

        variables: {
            refresh: localStorage.getItem("token_refresh"),
            },
        })

        .then((result) => {
            localStorage.setItem("token_access", result.data.refreshToken.access);
            })
        .catch((error) => {
            this.$emit("logOut");
            return;
        });

    await this.$apollo
        .mutate({
            mutation: gql`
            mutation($comentario: ComentarioInput!) {
            comentarioByUsername(comentario: $comentario) {
            id
            username
            lugar
            fecha
            hora
            comentario
            }
            }
        `,
        variables: {
            busqueda: this.comentarioByUsername,
        },
        })

        .catch((error) => {
        alert("No se han encontrado comentarios del usuario. Por favor, verifique el usuario");
        });
        },

        processEliminar: async function(id) {
                await this.$apollo
                    .mutate({
                        mutation: gql`
                            mutation Mutation($eliminarByIdId: eliminarInput) {
                                eliminarById(id: $eliminarByIdId) {
                                    id
                                    username
                                    lugar
                                    fecha
                                    hora
                                    comentario
                                }
                            }
                        `,
                variables: {
                    "eliminarByIdId": {
                         "id": id,
                    }
                },
            })

            .then((result) => {
                this.eliminado = true
            })
            .catch((error) => {
            });
            },
    },
};
</script>

