<template>

    <div class="comentario">
        <h3>Realizar Comentario</h3> 
        <div class="card p-3 mt-4" id="card">

        <form v-on:submit.prevent="processComentario">
            <input class="rounded-3"
            type="text"
            v-model="createComentario.username"
            placeholder="Usuario"
            />
        <br />
            <input class="rounded-3 mt-2"
            type="text"
            v-model="createComentario.lugar"
            placeholder="Lugar"
            />
        <br />
           <input class="rounded-3 mt-2"
            type="date"
            v-model="createComentario.fecha"
            placeholder="Fecha"
            />
        <br />
           <input class="rounded-3 mt-2"
            type="text"
            v-model="createComentario.hora"
            placeholder="Hora"
            />
        <br />
            <input class="rounded-3 mt-2"
            type="text"
            v-model="createComentario.comentario"
            placeholder="Comentario"
            />
        <br />
        <p v-if="comentar" class="mt-3"> Comentario registrado </p>
        <br>
        <button id="button" class="btn rounded-3" type="submit">Realizar Comentario</button>
        </form>
        </div>
    </div>
</template>

<script>

    import gql from "graphql-tag";

    export default {
        name: "Comentario",
        data: function() {
        
        return {
            createComentario: {
            username: localStorage.getItem("username"),
            lugar: "",
            fecha: "",
            hora: "",
            comentario: "",
            },
            comentar: false,
        };
    },

    methods: {
        processComentario: async function() {
        if (localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null ) {
        this.$emit("logOut");
        return;
        }
        localStorage.setItem("token_access", "");
        
    await this.$apollo
        .mutate({
            mutation: gql`
            mutation ($refresh: String!) {
            refreshToken(refresh: $refresh) {
        access
        }
        }
    `,

        variables: {
            refresh: localStorage.getItem("token_refresh"),
            },
        })

        .then((result) => {
            localStorage.setItem("token_access", result.data.refreshToken.access);
            })
        .catch((error) => {
            this.$emit("logOut");
            return;
        });

    await this.$apollo
        .mutate({
            mutation: gql`
            mutation($comentario: ComentarioInput!) {
            createComentario(comentario: $comentario) {
            id
            username
            lugar
            fecha
            hora
            comentario
            }
            }
        `,
        variables: {
            comentario: this.createComentario,
        },
        })

        .then((result) => {
            this.comentar = true
        })
        .catch((error) => {
        alert("No se ha podido registrar el comentario. Por favor, verifique los datos.");
        });
        },
    },
};
</script>

<style>

</style>