<template>
    <div class="p-2">
        <h3>Eliminar Comentario</h3>
        <div class="card mt-5 p-5" id="card">
            <form v-on:submit.prevent="processEliminar">
                <input
                type="text" class="rounded-3"
                v-model="eliminar.id"
                placeholder="Id del Comentario"
                />
                <br />
        </form>
        <button id="buttton" class="rounded-3 mt-4"  v-on:click='processEliminar(eliminar.id)'>Eliminar Comentario</button>
        <span v-if="eliminado" class="mt-3"> Carrera eliminada </span>
        </div>
    </div>
</template>

<script>

    import gql from "graphql-tag";

    export default {

        name: "eliminarComentario",

        data: function() {
            return {
                eliminar: {
                    id: "",
                },
                eliminado: false,
            };
        },

        methods: {
            
            processEliminar: async function(id) {
                await this.$apollo
                    .mutate({
                        mutation: gql`
                            mutation Mutation($eliminarByIdId: eliminarInput) {
                                eliminarById(id: $eliminarByIdId) {
                                    id
                                    username
                                    lugar
                                    fecha
                                    hora
                                    comentario
                                }
                            }
                        `,
                variables: {
                    "eliminarByIdId": {
                         "id": id,
                    }
                },
            })

            .then((result) => {
                this.eliminado = true
            })
            .catch((error) => {
            });
            },
    },
};
</script>
