<template>

    <div>
      <div class="p-2">
        <h3>Iniciar sesión</h3>
      </div>

      <div class="mt-5">
        <div class="card p-4" id="card">
            <form v-on:submit.prevent="processLogInUser" >
            <input class= 'mt-4 rounded-3' type="text" v-model="user.username" placeholder="Usuario">
            <br>
            <input class= 'mt-4 rounded-3' type="password" v-model="user.password" placeholder="Contraseña">
            <br>
            <button class= 'mt-5 rounded-3 btn' id="button" type="submit">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>

</template>


<script>
import gql from "graphql-tag";

export default {
  name: "LogIn",

  data: function() {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },

  methods: {
    processLogInUser: async function() {
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation($credentials: CredentialsInput!) {
              logIn(credentials: $credentials) {
                refresh
                access
              }
            }
          `,
          variables: {
            credentials: this.user,
          },
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.logIn.access,
            token_refresh: result.data.logIn.refresh,
          };

          this.$emit("completedLogIn", dataLogIn);
        })
        .catch((error) => {
            console.log(error)
          alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
  },
}
</script>

<style>

#card{
  background: #242423;
}

#button{
  background: #CFDBD5;
}

</style>