<template>

    <div>
      <div class="p-2">
        <h3>Registrarse</h3>
      </div>
        <div class="mt-5 card p-4" id="card">
            <form v-on:submit.prevent="processSignUp" >
                <input class= 'mt-4 rounded-3' type="text" v-model="user.username" placeholder="Usuario">
                <br>
                
                <input class= 'mt-4 rounded-3' type="password" v-model="user.password" placeholder="Contraseña">
                <br>
                
                <input class= 'mt-4 rounded-3' type="text" v-model="user.name" placeholder="Nombre">
                <br>

                <input class= 'mt-4 rounded-3' type="email" v-model="user.email" placeholder="Correo">
                <br>

                <button class= 'mt-5 rounded-3 btn' id="button" type="submit">Registrarse</button>
            </form>
        </div>
    </div>

</template>


<script>
import gql from "graphql-tag";

export default {
    name: "SignUp",

    data: function() {
        return {
        user: {
            username: "",
            password: "",
            name: "",
            email: "",
        },
        };
    },

  methods: {
    processSignUp: async function() {
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation($userInput: SignUpInput!) {
              signUpUser(userInput: $userInput) {
                refresh
                access
              }
            }
          `,
          variables: {
            userInput: this.user,
          },
        })
        .then((result) => {
          let dataLogIn = {
            username: this.user.username,
            token_access: result.data.signUpUser.access,
            token_refresh: result.data.signUpUser.refresh,
          };

          this.$emit("completedSignUp", dataLogIn);
        })
        .catch((error) => {
          alert("ERROR: Fallo en el registro.");
        });
    },

  },
}
</script>

<style>

#card{
  background: #242423;
}

#button{
  background: #CFDBD5;
}

</style>
