<template>
  <div id="app">

    <div class="container-fluid row">

      <div class="col">

      <div class="">
        <div class="text-center p-4">
          <h2>Su ubicacion actual es:</h2>
          <p> Latitud: {{ currPos.lat }} y Longitud: {{ currPos.lng }} </p>
        </div>
      </div>

      <div ref="mapDiv" style="width: 100%; height: 83vh" />

      </div>

      <div class="col-3 text-center">
        <div class="p-4">
          <h2>Bici-App</h2>
        </div>

        <div class="mt-5 row">
          <router-view
          v-on:completedLogIn="completedLogIn"
          v-on:completedSignUp="completedSignUp"
          v-on:logOut="logOut"
          />
        </div>

        <div class="mt-4"> 
          <div class="col aling-self-center">
            <button class="btn" id="button" v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
          </div>
          <div class="col aling-self-center mt-3">
            <button class="btn" id="button" v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>    
          </div>
          <div class="col aling-self-center mt-3">
            <button class="btn col" id="button" v-if="is_auth" v-on:click="loadComentario"> Ingresar Comentario </button>
          </div>
          <div class="col aling-self-center mt-3">
            <button class="btn" id="button" v-if="is_auth" v-on:click="loadBuscarComentario"> Buscar Comentarios </button>
          </div>
          <div class="col aling-self-center mt-3">
            <button class="btn" id="button" v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button> 
          </div>

        </div>

      </div>

    </div> 
  </div>
</template>

<script>
import { computed, ref, onMounted} from 'vue'
import { useGeolocation } from './main.js'
import { Loader } from '@googlemaps/js-api-loader'
const GOOGLE_MAPS_API_KEY = 'AIzaSyCvEWDDQ2i3tJ1q7RS-MC0oiqMWES9e-WM'

export default {
  
  name: 'App',

  setup() {
    const { coords } = useGeolocation()
    const currPos = computed(() => ({
      lat: coords.value.latitude,
      lng: coords.value.longitude
    }))



    const loader = new Loader({ apiKey: GOOGLE_MAPS_API_KEY })
    const mapDiv = ref(null)
    let map = ref(null)
    onMounted(async () => {
      await loader.load()
      map.value = new google.maps.Map(mapDiv.value, {
        center: {lat: 4.746685, lng: -74.096416},
        zoom: 15
      })
    })

    return { currPos, mapDiv}
  },

  data: function(){
      return{
        is_auth: false,
      }
  },

  components: {
  },

  methods:{

    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;	
			if (this.is_auth == false)
        this.$router.push({ name: "signUp" });
      else
        this.$router.push({ name: "comentario" });
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    loadComentario: function() {
      this.$router.push({ name: "comentario" });
    },

    loadEliminarComentario: function() {
      this.$router.push({ name: "eliminarComentario" });
    },

    loadBuscarComentario: function() {
      this.$router.push({ name: "buscarComentario" });
    },

    completedLogIn: function(data) {
			localStorage.setItem("isAuth", true);
			localStorage.setItem("username", data.username);
			localStorage.setItem("token_access", data.token_access);
			localStorage.setItem("token_refresh", data.token_refresh);
			alert("Autenticación Exitosa");
			this.verifyAuth();
    },

    completedSignUp: function(data) {
			alert("Registro Exitoso");
			this.completedLogIn(data);
    },

    logOut: function () {
			localStorage.clear();
			alert("Sesión Cerrada");
			this.verifyAuth();
      this.$router.push({name: "logIn"})
		},
  },

  created: function(){
    this.verifyAuth()
  },

}
</script>

<style >

#app{
  background: #333533;
}

h2,h3,h4,p{
  color: #CFDBD5;
}

#card{
  color: #242423;
}

#button{
  background: #CFDBD5;
}

#table{
  background: #CFDBD5;
}

</style>
